<section class="content page-calendar">
  <div class="block-header">
    <!-- <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>My Time Record</h2>
      </div>
    </div> -->
  </div>
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="body">
            <div class="col-3" style="display: inline-block;">
              <h6><span>My Log Details</span></h6>
            </div>DIV TITLE
            <div class="col-9" style="border: solid 1px #DDE5EA; display: inline-block;">
              <div style="position: relative; height: 40px; text-align: right;">
                <div style="display: inline-block; margin-left: auto; margin-right: auto" class="relative_position">
                  <div style="width: 15px; height: 15px; border-radius: 10%; background-color: #2F384E; display: inline-block;"></div>
                  <span style="margin-left: 5px; margin-right: 5px;"></span>
                  <div style="display:inline-block;">Undertime</div>
                </div>
                <span style="margin-left: 10px; margin-right: 10px;"></span>
                <div style="display: inline-block; margin-left: auto; margin-right: auto" class="relative_position">
                  <div style="width: 15px; height: 15px; border-radius: 10%; background-color: #698CEB; display: inline-block;"></div>
                  <span style="margin-left: 5px; margin-right: 5px;"></span>
                  <div style="display:inline-block;">Late</div>
                </div>
                <span style="margin-left: 10px; margin-right: 10px;"></span>
                <div style="display: inline-block; margin-left: auto; margin-right: auto" class="relative_position">
                  <div style="width: 15px; height: 15px; border-radius: 10%; background-color: #61CED1; display: inline-block;"></div>
                  <span style="margin-left: 5px; margin-right: 5px;"></span>
                  <div style="display:inline-block;">File as OT</div>
                </div>
              </div>
            </div>LEGEND
            <hr style="margin: 5px 0 5px 0;">
            <div class="col-3 clearfix" style="display: inline-block; border: solid 1px #DDE5EA; padding: 0px;">
              <div style="max-height: 120px; min-height: 120px; float: left; width: 5px; background-color: #2F384E; display: inline-block;"></div>
              <div style="text-align: center; padding: 10px;">
                <div class ="text-center" style="height: 100px; width: 70px; float: left; display: inline-block; border-right: solid 1px #DDE5EA; padding: 5px;">
                  Wed<br><span style="font-weight: bold;">28</span><br><span>Jan</span><br><span>2019</span>
                </div>
                <div class="text-center" style="height: 100px; max-width: 165px; min-width: 165px; float: left; display: inline-block; padding: 5px;">
                  <span>My Shift</span><br />
                  <span style="font-weight: bold;">9:00 AM</span><br />
                  <span style="font-weight: bold;">6:00 PM</span><br />
                  <span>Regular Schedule</span>
                </div>
              </div>
            </div>
            <div class="col-9" style="display: inline-block; border: solid 1px #DDE5EA;">
              <div style="height: 120px;">
                this is a test
              </div>
            </div>
          </div>BODY
        </div>CARD
      </div>SIZE
    </div>
  </div> -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="body">
            <div class="header clearfix">
              <div class="float-left" style="margin-top: 10px;">
                <i class="material-icons" style="vertical-align: middle;">people</i>
                <span class="font-weight-bold" style="font-size: 14px; margin-left: 10px;">Team's Daily Timesheets</span>
              </div>
              <div class="float-right">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a href="#" class="nav-link active">Daily</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link ">Weekly</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link ">Monthly</a>
                  </li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="sub-header clearfix" style="padding: 10px 20px 20px;">
              <div class="float-left">
                <div class="legend-wrapper">
                  <div class="legend">
                    <div class="indicator bg-default"></div>
                    <span class="legend-label">Range</span>
                  </div>
                  <div class="legend">
                    <div class="indicator bg-success"></div>
                    <span class="legend-label">Regular</span>
                  </div>
                  <div class="legend">
                    <div class="indicator bg-warning"></div>
                    <span class="legend-label">Break</span>
                  </div>
                  <div class="legend">
                    <div class="indicator bg-danger"></div>
                    <span class="legend-label">Overtime</span>
                  </div>
                </div>
                <div>
                  Day: <i class="material-icons" style="vertical-align: middle;"> keyboard_arrow_left </i> <span><input type="text" placeholder="Monday 14 Now 2016" style="text-align: center;"></span> <i class="material-icons" style="vertical-align: middle;"> keyboard_arrow_right </i>
                </div>
              </div>
              <div class="float-right">
                <div class="input-group" style="margin-top: 10px;">
                  <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-addon">
                      <i class="zmdi zmdi-search"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="file-record" style="padding: 10px 20px">
              <div class="list-group">
                <div class="list-group-item">
                  <div class="row">
                      <div class="user offset-sm-2 offset-md-2">
                        
                      </div>
                      <div class="timeline no-gutters col-sm-9 col-md-9">
                          <div class="row no-gutters col-md-12 clearfix">
                            <div class="col-xs-15 col-sm-15 col-md-15 text-left">
                              <span class="time-label label-first">12am</span>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 text-center">
                              <span class="time-label label-middle" style="right: 35px;">6am</span>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 text-center">
                              <span class="time-label label-middle">12pm</span>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 text-center">
                              <span class="time-label label-middle" style="left: 35px;">6pm</span>
                            </div>
                            <div class="col-xs-15 col-sm-15 col-md-15 text-right">
                              <span class="time-label label-last">11:59pm</span>
                            </div>
                          </div>
                          <hr style="margin-top: 5px !important; margin-bottom: unset !important; border-top: 3px solid rgba(0,0,0,.1);">
                      </div>
                      <div class="total col-sm-1 col-md-1">
                        <span class="font-weight-bold">Total</span>
                      </div>
                    </div>
                </div>
              </div>
              <div class="list-group">
                <div class="list-group-item">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="user col-sm-2 col-md-2">
                        <div class="user-wrapper">
                        <img src="../assets/images/noimage.png" class="rounded-circle" height="50" width="50" alt="profile-pic"><span class="ellipsis">Ernesto Lorenzo</span>
                        </div>
                      </div>
                      <div class="timeline col-sm-9 col-md-9">
                        <div class="progress w-100" style="margin-top: 17px;">
                          <div class="" role="progressbar" [ngStyle]="{'width': + timeToDisplay + '%'}" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                          <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': + logsToDisplay + '%'}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                          <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width': + breaksToDisplay + '%'}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                          <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': + restartToDisplay + '%'}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                          <!-- <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div> -->
                        </div>
                      </div>
                      <div class="total col-sm-1 col-md-1">
                        <div class="total-wrapper font-weight-bold" style="margin-top: 15px; text-align: center">780</div>
                        <i _ngcontent-c1="" class="material-icons" style="vertical-align: middle;"> expand_more </i>
                      </div>

                    </div>
                    <div class="row" style="display: none;">
                      <div class="offset-md-2"></div>
                      <div class="col-md-10">
                        this is a test
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="user col-sm-2 col-md-2">
                        <div class="user-wrapper">
                        <img src="../assets/images/noimage.png" class="rounded-circle" height="50" width="50" alt="profile-pic"><span class="ellipsis">Terence Ting
  </span>                      </div>
                      </div>
                      <div class="timeline col-sm-9 col-md-9">
                        <div class="progress w-100" style="margin-top: 17px;">
                          <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                          <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                          <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="total col-sm-1 col-md-1">
                        <div class="total-wrapper font-weight-bold" style="margin-top: 15px; text-align: center">780</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="user col-sm-2 col-md-2">
                        <div class="user-wrapper">
                        <img src="../assets/images/noimage.png" class="rounded-circle" height="50" width="50" alt="profile-pic"><span class="ellipsis">Justine Cabrera</span>
                        </div>
                      </div>
                      <div class="timeline col-sm-9 col-md-9">
                        <div class="progress w-100" style="margin-top: 17px;">
                          <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                          <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                          <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="total col-sm-1 col-md-1">
                        <div class="total-wrapper font-weight-bold" style="margin-top: 15px; text-align: center">780</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="user col-sm-2 col-md-2">
                        <div class="user-wrapper">
                          <img src="../assets/images/noimage.png" class="rounded-circle" height="50" width="50" alt="profile-pic"><span class="ellipsis">Des Pineda</span>
                        </div>
                      </div>
                      <div class="timeline col-sm-9 col-md-9">
                        <div class="progress w-100" style="margin-top: 17px;">
                          <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                          <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                          <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="total col-sm-1 col-md-1">
                        <div class="total-wrapper font-weight-bold" style="margin-top: 15px; text-align: center">780</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>